<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find jubot_demo)/urdf_box/jubot_box.xacro" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find jubot_gazebo)/world/robot_room.world"/>    
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />

</launch>